/* SlideImage start */
.SlideImage{
    margin: 2rem 15rem;
}
.SlideImage img{
    width: 100%;
    height: 45vh;
    border-radius: 1rem;
}
section{
    padding: 3rem 15rem;
}
section h1{
    font-size: 2rem;
} 
/* SlideImage end */

/* card start */
.cardLister{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Card{
    padding: 1rem;
    margin: 2rem;
    border: 1px solid gray;
    font-size: 1.2rem;
    border-radius: .5rem;
    box-shadow: 2px 2px 4px black;
    background-color: white;
}
.Card img{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    /* box-shadow: 1px -1px 1px navy; */
    border-radius: 50%;
    border: 1px solid navy;
    padding: .5rem;
}
.Card p{
    margin: 1rem .1rem;
}
.Card button{
    border: 2px solid skyblue;
    border-radius: 5px;
    margin: auto 0px;
    padding: 1rem 1.5rem;
}
/* card end */