.Footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 15rem;
    background:navy;
    color: white;
    text-align: left;
}
.Footer h1{
    margin: 1rem 0rem;
}
.Footer p{
    margin: 1rem 0rem;
    color: ghostwhite;
}
.social a{
    color: white;
    margin: 5px;
    font-size: 1.5rem;
}
.app img{
    height: 3rem;
    width: 9rem;
    margin-top: .5rem ;
    border-radius: 4px;
}